{% extends 'base.html' %}
{% load static  %}

{% block content %}
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                	{% for sale in sales %}
                    <tr>
                        <td>{{sale.product.name}}</td>
                        <td>{{sale.quantity}} Kg</td>
                        <td>{{sale.amount}} Ksh</td>
                        <td>{{sale.created_at|date:"d-m-Y H:m"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>
{% endblock %}