{% extends 'base.html' %}

{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Product
</button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card">
        <div class="card-header">
            <strong>Product</strong> Form
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Product Name:</label>
                    {{form.name}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Product Quantity:</label>
                    {{form.total_quantity}}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-md">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Quantity</th>
                        <th>Current Quantity</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                	{% for prod in products %}
                    
                    <tr>
                        <td><a href="{% url 'prod_detail' pk=prod.pk %}" style="display: block; position: relative; color: black;">{{prod.name}}</a></td>
                        <td>{{prod.total_quantity}} </td>
                        <td>{{prod.current_quantity}} </td>
                        <td>{{prod.updated_at}}</td>
                        
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>
{% endblock %}