{% extends 'base.html' %}

{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Product Quantity
</button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card">
        <div class="card-header">
            <strong>Quantity</strong> Form
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Quantity Name:</label>
                    {{form.name}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Quantity Amount:</label>
                    {{form.quantity}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Price:</label>
                    {{form.price}}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-md">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>
                	{% for q in quants %}
                    <tr>
                        <td>{{q.name}}</td>
                        <td>{{q.quantity}}</td>
                        <td>Ksh. {{q.price}}</td>
                        <td>{{q.updated_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>
{% endblock %}