{% extends 'base.html' %}
{% load static %}

{% block content %}
<a class="btn btn-primary" href="{% url 'all_sales' %}" style="float: right;">
        View All Sales
</a>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Sales</h2>
        </div>
    </div>
</div>
{% if messages %}
  {% for m in messages %}
    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
      <span class="badge badge-pill badge-success">Success</span>
          {{m}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
  </div>
  {% endfor %}
{% endif %}
{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
        <span class="badge badge-pill badge-danger">Warning</span>
        <strong>{{field.name}} :{{ error|escape }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}

<div class="login-wrap">
    <div class="login-content">
        <div class="login-logo">
            <a href="#">
                <img src="{% static 'images/icon/ki_logo.jpeg' %}" alt="Karimi Integrated" >
            </a>
        </div>
        <div class="login-form">
            <form method="post" id="saleForm" data-products-url="{% url 'ajax_load_products' %}" novalidate>
            	{% csrf_token %}
              <div class="form-group">
                    <label>Category</label>
                    {{form.category}}
                </div>
                <div class="form-group">
                    <label>Product</label>
                    {{form.product}}
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    {{form.quantity}}
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    {{form.amount}}
                </div>
                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">submit</button>
                {% if form.errors%}
					{% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{field.name}} :{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
                      {% for error in form.errors %}
                        <ul>
                            <li>Error: {{error|escape}} is already taken or is invalid </li>
                        </ul>
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <ul>
                              <li>Errorr: {{error|escape}}</li>
                          </ul>
                      {% endfor %}
                      {% for error in form.non_form_errors %}
                          <ul>
                              <li>Errorr: {{error|escape}}</li>
                          </ul>
                      {% endfor %}
                {% endif %}
            </form>
            
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
   $("#id_category").change(function () {
      var url = $("#saleForm").attr("data-products-url");
      var categoryId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'category': categoryId
        },
        success: function (data) {
          $("#id_product").html(data);
        }
      });

    });
</script>
{% endblock %}
