{% extends 'base.html' %}

{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Message
</button>
</p>
<div class="collapse" id="collapseExample">
	<div class="card">
        <div class="card-header">
            <strong>Message</strong> Form
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
            	{% csrf_token %}
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Select Message Group:</label>
                    {{form.group}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Message Content:</label>
                    {{form.message_content}}
                </div>
                <div class="card-footer">
		            <button type="submit" class="btn btn-primary btn-md">
		                <i class="fa fa-dot-circle-o"></i> Submit
		            </button>
		        </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
	{% for s in sms %}
	<div class="col-md-4">
		<a href="" style="display: block; position: relative; color: black;">
	        <div class="card">
	            <div class="card-header">
	                <strong class="card-title">{{s.created_at}}</strong>
	            </div>
	            <div class="card-body">
	               <center>{{s.message_content}}</center>
	            </div>
	        </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}