{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Bulk Upload Form</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            	{% csrf_token %}
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="file-input" class=" form-control-label">File input</label>
                    </div>
                    <div class="col-12 col-md-9">
                        {{form.user_csv}}
                    </div>
                </div>
                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">upload</button>
                {% if form.errors%}
					{% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{field.name}} :{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
                      {% for error in form.errors %}
                        <ul>
                            <li>Error: {{error|escape}} is already taken or is invalid </li>
                        </ul>
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <ul>
                              <li>Errorr: {{error|escape}}</li>
                          </ul>
                      {% endfor %}
                      {% for error in form.non_form_errors %}
                          <ul>
                              <li>Errorr: {{error|escape}}</li>
                          </ul>
                      {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}