{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Add User</h2>
        </div>
    </div>
</div>
<div class="login-wrap">
    <div class="login-content">
        <div class="login-logo">
            <a href="#">
                <img src="{% static 'images/icon/ki_logo.jpeg' %}" alt="Karimi Integrated">
            </a>
        </div>
        <div class="login-form">
            <form action="" method="post">
            	{% csrf_token %}
                <div class="form-group">
                    <label>First Name</label>
                    {{form.first_name}}
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    {{form.last_name}}
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    {{form.phone_number}}
                </div>
                <div class="form-group">
                    <label>Id Number</label>
                    {{form.id_number}}
                </div>
                <div class="login-checkbox">
                    <label>
                        {{form.group_lead}} Group Leader
                    </label>
                </div>
                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">register</button>
                {% if form.errors%}
					{% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{field.name}} :{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
                      {% for error in form.errors %}
                        <ul>
                            <li>Error: {{error|escape}} is already taken or is invalid </li>
                        </ul>
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <ul>
                              <li>Errorr: {{error|escape}}</li>
                          </ul>
                      {% endfor %}
                      {% for error in form.non_form_errors %}
                          <ul>
                              <li>Errorr: {{error|escape}}</li>
                          </ul>
                      {% endfor %}
                {% endif %}
            </form>
            
        </div>
    </div>
</div>
{% endblock %}