{% extends 'base.html' %}

{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add Group
</button>
</p>
<div class="collapse" id="collapseExample">
	<div class="card">
        <div class="card-header">
            <strong>Group</strong> Form
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
            	{% csrf_token %}
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Group Name:</label>
                    {{form.name}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Selct Group Leader:</label>
                    {{form.owner}}
                </div>
                <div class="card-footer">
		            <button type="submit" class="btn btn-primary btn-md">
		                <i class="fa fa-dot-circle-o"></i> Submit
		            </button>
		        </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}