{% extends 'base.html' %}
{% block css %}
<!-- jQuery -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<script>
      $(function () {
      $("#datepicker1").datepicker();
      $("#datepicker2").datepicker();
    });
</script>
{% endblock %}

{% block content %}
 <div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Users</h2>
            <a href="{% url 'create_user' %}" class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-plus"></i>add user</a>
            <a href="{% url 'bulk_upload' %}" class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-plus"></i>Bulk Upload</a> 
            <a href="{% url 'update_profile' %}" class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-plus"></i>Update Profiles</a> 
            <a href="{% url 'export_users' %}" class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-plus"></i>Export</a> 
        </div>
    </div>
</div>
<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Filter Users</div>
                    <div class="card-body">
                        <form action="." method="GET" novalidate="novalidate">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Name</label>
                                        <input id="datepicker1" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Phone Number</label>
                                        <input id="datepicker1" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">ID Number</label>
                                        <input id="datepicker1" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card-title">
                                <h3 class="text-center title-2">Filter By Date Joined</h3>
                            </div>
                            <div class="row">
                                
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">From:</label>
                                        <input id="datepicker1" class="form-control">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="x_card_code" class="control-label mb-1">To:</label>
                                    <input id="datepicker2" class="form-control">
                                </div>
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Search</span>
                                    <span id="payment-button-sending" style="display:none;">Please Wait…</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>ID Number</th>
                        <th>Group</th>
                        <th>Date Joined</th>
                    </tr>
                </thead>
                <tbody>
                	{% for user in all_users %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'user_detail' pk=user.pk %}">{{user.first_name}} {{user.last_name}}</a></td>
                        <td>{{user.phone_number}}</td>
                        <td>{{user.id_number}}</td>
                        <td class="process">{{user.team.name}}</td>
                        <td>{{user.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>

{% endblock %}
