{% extends 'base.html' %}

{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Edit User
</button>
</p>
<div class="collapse" id="collapseExample">
	<div class="card">
        <div class="card-header">
            <strong>Edit User</strong> Form
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
            	{% csrf_token %}
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter First Name:</label>
                    {{form.first_name}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Last Name:</label>
                    {{form.last_name}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter Phone Number:</label>
                    {{form.phone_number}}
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Enter ID Number:</label>
                    {{form.id_number}}
                </div>
                <div class="card-footer">
		              <button type="submit" class="btn btn-primary btn-md">
		                  <i class="fa fa-dot-circle-o"></i> Submit
		              </button>
		        </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
	
	 <div class="col-md-12">
        <aside class="profile-nav alt">
            <section class="card">
                <div class="card-header user-header alt bg-dark">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="text-light display-6">{{user.first_name}} {{user.last_name}}</h2>
                            <p>{{user.phone_number}}</p>
                            <p>{{user.id_number}}</p>
                            <p>{{user.created_at}}</p>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
    
</div>
{% endblock %}